.wrapper{
	width: 1140px;
	margin: auto;
	background-color: #AB3030;
	padding-bottom: 150px;
	padding-top: 15px;

}
.first{
	width: 580px;
	margin: 0 auto;
}
h1{
	text-align: center;
}
a
{
	text-decoration: none;
	font-size: 15px;
	color: #FFF779;
}

li
{
	list-style-type: none;
	font-size: 20px;
}

.el {

	float: none;
}

li.el::before
{
	content:"♠ ";
	font-size: 15px;
}


body
{
	background-color: black;
}
#circus{
	background-image: url(img/3.png);
	border-radius: 25px;
	width: 320px;
	height: 240px;
	display: block;

}


#circus:hover{
	background-image: url(img/3.gif);
}